# OSX specific overrides
.DS_Store
.AppleDouble
.LSOverride
Icon

# Rails specific ignores
.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache

# Ignore jetty because it has to be generated per machine.
spec/dummy/jetty/
