# OSX specific overrides
.DS_Store
.AppleDouble
.LSOverride
Icon

# Rails specific ignores
.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
.vagrant/

# Ignore .swp files 
**.swp

# Ignore .ruby-version because that should be specified by Gem::Specification for actual end users
.ruby-version

# Ignore jetty because it has to be generated per machine.
spec/dummy/jetty
